<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GhostedIn | Application Tracker</title>
		<link rel="stylesheet" href="/static/track_styles.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/htmx.org@2.0.1"></script>
	</head>
	<body>
		<main class="container">
			<header>
				<h1>GhostedIn<span class="dot">.</span></h1>
				<p class="subtitle">Tracking the journey from Cooked to Hired.</p>
			</header>

			<section
				hx-get="/track/statistics"
				hx-trigger="load, applicationsChanged"
				hx-swap="innerHTML"
				class="Statics"
			>
				<div class="stat-card"><h3>Loading...</h3></div>
			</section>

			<section class="Utils">
				<input
					type="text"
					placeholder="Search companies..."
					class="search-bar"
				/>
				<button
					hx-get="/track/quick-add-row"
					hx-target="#quick-add-container"
					hx-swap="innerHTML"
				>
					+ New Application
				</button>
				<button class="btn-export">Export JSON</button>
			</section>

			<section class="Sheet">
				<div class="sheet-wrapper">
					<table class="application-table">
						<thead>
							<tr>
								<th>Company</th>
								<th>Role</th>
								<th>Status</th>
								<th>Date Applied</th>
								<th>Notes</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody id="quick-add-error"></tbody>
						<tbody id="quick-add-container"></tbody>
						<tbody
							id="job-rows"
							hx-get="/track/applications"
							hx-trigger="load"
							hx-swap="innerHTML"
						>
							<tr>
								<td
									colspan="6"
									style="
										text-align: center;
										color: var(--accent);
										padding: 40px;
									"
								>
									Fetching your applications...
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</main>
	</body>
</html>
